* {
  box-sizing: border-box;

}
body {
  margin: 0;
  font-family: "Inter", sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

}

header{
  background: #F55A5A;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
header > img {
  width: 24px;
  margin-right: 7px;
}
header h1{
  font-size: 0.9rem;
  font-weight: 500;
}