* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

.container {
  margin: 45px 40px;
}

header {
  background: #f55a5a;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}
header > img {
  width: 24px;
  margin-right: 7px;
}
header h1 {
  font-size: 0.9rem;
  font-weight: 500;
}

main {
  height: 100%;
}

article.journal-entry {
  display: flex;
  margin-bottom: 36px;
}

article.journal-entry .marker {
  width: 7px;
  margin-right: 4px;
}

.main-image-container {
  width: 125px;
  height: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 19px;
}

.main-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info-container span.country {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 12px;
}

.info-container a {
  color: #2b283a;
  font-size: 0.7rem;
}

.info-container a:visited {
  color: #918e9b;
}
.info-container h2.entry-title {
  margin-top: 7px;
  margin-bottom: 17px;
}
.info-container p.trip-dates {
  font-weight: bold;
}
.info-container p.entry-text {
  line-height: 1.5;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 7px 0;
  background-color: #ced0d8;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.link {
  margin-top: 5px;
}

.link a {
  color: #171719;
  padding: 0 5px;
}
